@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:  hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  width: 100%;
  text-align: center;

  }
  .attribution { font-size: 11px; text-align: center; grid-row-start: 3; }
  .attribution a { color: hsl(228, 45%, 44%); }
  .main-ctn{
    display: flex;
    flex-direction: column;
    background-color:hsl(0, 0%, 100%);
    width: 250px;
    grid-row-start: 2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px hsla(222, 13%, 81%, 0.696);
    font-size: 0.9rem;
  }
  h2{
    color:hsl(218, 44%, 22%);
  }

  p{
    color: hsl(220, 15%, 55%);
    margin-bottom: 10px;
  }

  img{
    border-radius: 10px;
  }

  @media (max-width: 600px) {
body{
  font-size: 12px;
}
  }